===============================================================<br />
Essa é uma mensagem automática. Por favor, não responda.<br />
===============================================================<br />

<h3>Olá <%= @resource.name %>!</h3>

<p>Alguém pediu um link para mudar sua senha, e você pode fazê-lo através do link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, user_id: @resource.id, reset_password_token: @token) %></p>

<p>Se você não pediu isso, por favor, ignore este e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link acima e altera para uma nova senha.</p>

Atenciosamente,<br />
Equipe IPlano<br />
===============================================================<br />
Essa é uma mensagem automática. Por favor, não responda.<br />
===============================================================<br />
