footer{
	
	height: 100%;
	background-image: url("/images/banners/3.jpg");

	div#footer{
	height: 100%;
	background-color: rgba(216, 210, 210, 0.1);
	}
}


.lembrete{
	color: #ffffff;

	color: #fafafa;

	color: #b98021;

	color: #b51a39;

	color: #ac0d07;

	color: #0d0d0d;

	color: #050505;

}