nav#nav_home{
	height: 200px;
	background-color: #fff;
	text-align: center;
	display: contents;
}
nav#menu{
	height: 70px;
	background-color: #fefefe;
	a{
		color: #444;
		border: 1px solid #fff;
		border-radius: 20px;
		border: 2px solid #777;
		padding: 6px 15px;
		margin: 5px;
		font-weight: 700;
		&:hover{
			background-color: #fff;
			color: black;
			border: 2px solid #777;
		}
	}
}


.lembrete{
	color: #ffffff;

	color: #fafafa;

	color: #b98021;

	color: #b51a39;

	color: #ac0d07;

	color: #0d0d0d;

	color: #050505;

}