<div class="row">
  <div class="col s12">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Você receberá um E-mail com instruções para recuperar sua senha <span class="badge green white-text"><%= 2 %></span></span>
          <p>Nome: <%= user.name %></p>
          <p>E-mail: <%= user.email  %></p>
      </div>
      <div class="card-action">
      </div>
    </div>
  </div>
</div>

