<div style="background-color: rgba(211, 200, 200, 0.7); ">
	
<div id="footer" class="container">
	<div class="row">
		<div class="col s12 m12 l6">
			<div class="row">
				<div class="col s12 m12 l6">
				</div>
				<div class="col s12 m12 l6">
					<p class="white-text" style="font-weight: 700; font-size: 18px; line-height: 2; ">Contato</p>
					<span class="white-text" style="font-weight: 300; font-size: 14px; ">Tel: (00)0000-0000</span>
					<span class="white-text" style="font-weight: 300; font-size: 14px; ">email@exemple.com.br</span>
					<span class="white-text" style="font-weight: 300; font-size: 14px; ">Avenida São Carlos - São Carlos - SP</span>
				</div>
			</div>
		</div>
		<div class="col s12 m12 l6">
			<p class="white-text center" style="font-weight: 700; font-size: 15px; line-height: 2; ">Receba novidades</p>
			<div class="center">
				<input type="" name="" placeholder="Nome" style="margin: 5px; border: none; color: #b98021; padding: 2px;"> <br>
				<input type="" name="" placeholder="E-mail" style="margin: 5px; border: none; color: #b98021; padding: 2px;"> <br>
				<img src="/images/logos/face.png" style="width: 60px;">
				<img src="/images/logos/insta.png" style="width: 68px;">
			</div>
		</div>
		<br>
		<br>
	</div>
</div>
</div>