<div class="row">
  <div class="col s12">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Cadastro realizado com sucesso <span class="badge green white-text"><%= 12 %></span></span>
          <p><%= user.nome %></p>
          <p><%= user.email %></p>
      </div>
      <div class="card-action">
      </div>
    </div>
  </div>
</div>

