<nav id="nav_home">

  <div class="slider">
    <ul class="slides">
      <li class="">
        <img src="/images/banners/natural_saudavel.png" style="width: 100%;">
        <div class="caption left-align">
        </div>
      </li>
      <li class="">
        <img src="/images/banners/2.jpg" style="width: 100%;">
        <div class="caption left-align">
          <h2 style="font-weight: 300; font-size: 60px; color: #fff; ">POR UMA VIDA LEVE <br> <span class="right" style=" font-weight: 500; text-shadow: 0px 0px 10px rgba(000, 000, 000, 1);"> PAG LEV </span></h2>
        </div>
      </li>
      <li class="">
        <img src="/images/banners/3.jpg" style="width: 100%;">
        <div class="caption left-align">
          <h2 style="font-weight: 300; font-size: 60px; color: #fff; text-shadow: 0px 0px 10px rgba(000, 000, 000, 1);">HÁBITOS SAUDÁVEIS</h2>
        </div>
      </li>
    </ul>
  </div>
      

</nav>
<nav id="menu" style="box-shadow: none;">
  <div class="nav-wrapper container">
    <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="side-nav" id="mobile-demo">
      <li><a style="cursor: pointer;">Página Inicial</a></li>
      <li><a style="cursor: pointer;">Nossos Produtos</a></li>
      <li><a style="cursor: pointer;">Receita Saudável</a></li>
      <li><a style="cursor: pointer;">Promoções</a></li>
      <li><a style="cursor: pointer;">Contato</a></li>
    </ul>
    <ul class="hide-on-med-and-down" style="margin-left: 20%;">
    <img class="logo" src="/images/logos/logo.png" style="width: 220px; position: absolute; left: -1%;  bottom: -6%; z-index: 1000;">
      <li><a id="bt_home" style="cursor: pointer; display: inline; ">Página Inicial</a></li>
      <li><a id="bt_produtos" style="cursor: pointer; display: inline; ">Nossos Produtos</a></li>
      <li><a id="bt_receitas_saudaveis" style="cursor: pointer; display: inline; ">Receita Saudável</a></li>
      <li><a id="bt_promocao" style="cursor: pointer; display: inline; ">Promoções</a></li>
      <li><a id="bt_contato" style="cursor: pointer; display: inline; ">Contato</a></li>
    </ul>
  </div>
</nav>

<script type="text/javascript">
  $("#bt_home").click(function(){
    $('html, body').animate({
      scrollTop: $("#nav_home").offset()
    }, 1500);
  });
  $("#bt_produtos").click(function(){
    $('html, body').animate({
      scrollTop: $("#produtos").offset().top
    }, 1500);
  });
  $("#bt_receitas_saudaveis").click(function(){
    $('html, body').animate({
      scrollTop: $("#receitas_saudaveis").offset().top
    }, 1500);
  });
  $("#bt_promocao").click(function(){
    $('html, body').animate({
      scrollTop: $("#produtos").offset().top
    }, 1500);
  });
  $("#bt_contato").click(function(){
    $('html, body').animate({
      scrollTop: $("#footer").offset().top-65
    }, 1500);
  });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.slider').slider({
        height: 300,
        indicators: true,
        interval: 5000,
        transition: 750,
        no_wrap: true
    });
    });
</script>