


<div id="destaques" class="container">
	<h5>Destaques</h5>
	<div class="row">
		<% (1..4).each do |i| %>
			<div class="col s12 m12 l3 center">
				<img src="/images/produtos/<%= i %>.png" style="width: auto; max-height: 210px; min-height: 200px;">
				<div class="descricao">
					<% if i == 1 %>
						<span>Farinha de amêndoa</span><br>
						<span>100gr</span><br>
						<span>R$00,00</span>
					<% elsif i == 2 %>
						<span>Nozes chilenas</span><br>
						<span>inteiras 100gr</span><br>
						<span>R$00,00</span>
					<% elsif i == 3 %>
						<span>Castanha de Caju</span><br>
						<span>sem sal 100gr</span><br>
						<span>R$00,00</span>
					<% elsif i == 4 %>
						<span>Damasco turco 100gr</span><br>
						<span>R$00,00</span>
					<% end %>
				</div>
				<div class="comprar">
					<a class="btn" style="background-color: #00be92;"><i class="material-icons">shopping_cart</i>Comprar</a>
				</div>
			</div>
		<% end %>
	</div>
</div>
<br>

<div id="produtos" class="container">
	<h5>Produtos</h5>
	<div class="row">
		<% (5..12).each do |i| %>
			<div class="col s12 m12 l3">
				<img src="/images/produtos/<%= i %>.png" style="width: auto; max-height: 210px; min-height: 200px;">
				<div class="descricao">
					<% if i == 9 or i==5 %>
						<span>Farinha de amêndoa</span><br>
						<span>100gr</span><br>
						<span>R$00,00</span>
					<% elsif i == 10 or i==6 %>
						<span>Nozes chilenas</span><br>
						<span>inteiras 100gr</span><br>
						<span>R$00,00</span>
					<% elsif i == 11 or i==7 %>
						<span>Castanha de Caju</span><br>
						<span>sem sal 100gr</span><br>
						<span>R$00,00</span>
					<% elsif i == 12 or i==8 %>
						<span>Damasco turco 100gr</span><br>
						<span>R$00,00</span>
					<% end %>
				</div>
				<div class="comprar">
					<a class="btn" style="background-color: #00be92;"><i class="material-icons">shopping_cart</i>Comprar</a>
				</div>
			</div>
			<% if i == 8 %>
				</div>
				<br><br><br>
				<div class="row">
			<% end %>
		<% end %>
	</div>
</div>
<br>

<div id="receitas_saudaveis" class="container">
	<h5>Receitas Saudáveis</h5>
	<div class="row">
		<% (1..4).each do |i| %>
			<div class="col s12 m12 l3">
				<img src="/images/produtos/r<%= i %>.png" style="width: auto; max-height: 210px; min-height: 200px;">
				<div class="descricao">
					<% if i == 1 or i==5 %>
						<span>Barra de cereal com nozes e</span><br>
						<span>macadâmia</span><br><br>
						<span style="color: #777; font-size: 12px;">A barra de cereal com nozes e</span><br>
						<span style="color: #777; font-size: 12px;">macadâmia é ideal para o café da</span><br>
						<span style="color: #777; font-size: 12px;">manhã[...]</span>
					<% elsif i == 2 or i==6 %>
						<span>Nova Safra de Castanhas</span><br>
						<span>Orgânicas Econut</span><br><br>
						<span style="color: #777; font-size: 12px;">Recebemos a nova safra de</span><br>
						<span style="color: #777; font-size: 12px;">Castanhas Orgânicas do Pará da</span><br>
						<span style="color: #777; font-size: 12px;">Econut! Somente a Castanha</span><br>
						<span style="color: #777; font-size: 12px;">do[...]</span>
					<% elsif i == 3 or i==7 %>
						<span>Açaí na tigela com granola e</span><br>
						<span>castanhas</span><br><br>
						<span style="color: #777; font-size: 12px;">O açaí é fruto rico em</span><br>
						<span style="color: #777; font-size: 12px;">antiozidantes que limpa as</span><br>
						<span style="color: #777; font-size: 12px;">artérias, ajuda a controlar[...]</span>
					<% elsif i == 4 or i==8 %>
						<span>Gelatina de chia</span><br><br>
						<span style="color: #777; font-size: 12px;">Além de gostosa e refrescante,</span><br>
						<span style="color: #777; font-size: 12px;">essa gelatina de chia oferece</span><br>
						<span style="color: #777; font-size: 12px;">diversos benefícios à saúde,</span><br>
						<span style="color: #777; font-size: 12px;">ajuda[...]</span>
					<% end %>
				</div>
			</div>
			<% if i == 4 %>
				</div>
				<div class="row">
			<% end %>
		<% end %>
	</div>
</div>
<br>

<div id="depoimentos" class="container">
	<h5>Depoimentos</h5>
	<div class="row">
		<% (1..3).each do |i| %>
			<div class="col s12 m12 l4">
				<span style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</span>
			</div>
			<% if i == 4 %>
				</div>
				<div class="row">
			<% end %>
		<% end %>
	</div>
</div>
