
@font-face {
    font-family: 'Raleway';
    src: font-url('Raleway-Medium.eot');
    src: font-url('Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        font-url('Raleway-Medium.woff2') ,
        font-url('Raleway-Medium.woff') ,
        font-url('Raleway-Medium.ttf') ,
        font-url('Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
