
.load-ajax {
  background-color: rgba(255,255,255, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5000;
  img{
  	position: absolute;
  	top: 50%;
  	left: 50%;
  }
}




.container-fluid{
  margin: 0 2%;
  padding: 15px 15px;
}

.input-field input{
  color: #2196f3;
  border-bottom: 1px solid #2196f3 !important;
}
.input-field input:focus{
  border-bottom: 2px solid #2196f3 !important;
  box-shadow: none !important;
}
.input-field label{
  color: #2196f3 !important;
}
.input-field label.active{
  text-shadow: 0px 0px 5px rgba(255,255,255, 1);
}
.input-field{
  color: #2196f3;
}