#banners{
	margin: 0;
	padding: 0;
}

#subbanner{
	height: 100px;
	background-color: #fff;
	margin-top: -6px;
	h5{
		color: #FCB155;
		margin: 0;
		padding: 0;
		text-align: center;
		line-height: 30px;
		padding-top: 20px;
		font-weight: 600;
	}
}

#linha{
	margin: 15px;
	background-color: #f6f6f6;

}

#categorias{
	h5{
		color: #632214;
		text-align: center;
		font-weight: 600;
	}
	.colunas-3{
			border-radius: 10px;
			padding: 1px;
		p{
			text-align: center;
		}
	}
}



#destaques{
	background-color: #fff;
	min-height: 100px;
		text-align: center;
	h5{
		padding: 20px;
		text-align: center;
		font-weight: 600;
		color: #632214;
	}
	.descricao{
		min-height: 130px;
		span{
			color: #632214;

		}
	}
}



#produtos{
	background-color: #fff;
	min-height: 100px;
		text-align: center;
	h5{
		padding: 20px;
		text-align: center;
		font-weight: 600;
		color: #632214;
	}
	.descricao{
		min-height: 130px;
		span{
			color: #632214;

		}
	}
}



#receitas_saudaveis{
	background-color: #fff;
	min-height: 100px;
		text-align: center;
	h5{
		padding: 20px;
		text-align: center;
		font-weight: 600;
		color: #632214;
	}
	.descricao{
		min-height: 130px;
		span{
			color: #444;

		}
	}
}



#depoimentos{
	background-color: #fff;
	min-height: 100px;
		text-align: center;
	h5{
		padding: 20px;
		text-align: center;
		font-weight: 600;
		color: #632214;
	}
	min-height: 130px;
	span{
		color: #555;

	}
}


.lembrete{
	color: #ffffff;

	color: #fafafa;

	color: #f6f6f6;

	color: #b98021;

	color: #632214;

	color: #ac0d07;

	color: #0d0d0d;

	color: #050505;

}