

@media only screen and (max-width : 420px) {
	#bt-comprar{
		font-size: 12px !important;
		margin-bottom: 10px;
	}

	#bt-alugar{
		font-size: 12px !important;
		margin-bottom: 10px;
	}

	#bt-lancamentos{
		font-size: 12px !important;
	}


	.chaves{
		display: none !important;
	}
	.botao-100{
		max-width: 120px;
	}
	.produto_preco{
		margin-left: 15px !important;
	}
	.nav_top{
		display: none;
	}
	.plano_anuncio button span:after{
		content: 'ANUNCIAR' !important;
	}
	.chaves_mobile{
		display: inherit !important;
	}
	.anunciante{
		display: none;
	}


	#produto_id{
		.content{
			.carousel{
				img{
					max-height: 320px !important;
				}
				#contato{
					display: none;
				}
			}
			#contato_mobile{
				display: inline-block !important;
			}
		}
	}
	#btn_na_planta:after{
		content: 'PLANTA' !important;
	}
	#btn_em_obra:after{
		content: 'EM OBRA' !important;
	}
	#btn_pronto_para_morar:after{
		content: 'PRONTO' !important;
	}
	div.alugue_ja_desktop{
		display: none !important;
	}
	div.quero_alugar{
		display: flex;
	}

	img.background{
		background-attachment: initial !important;
	}
	.display-none{
		display: none;
	}
}

 