<!DOCTYPE html>
<html>
  <head>

    <title>PagLev - Produtos Naturais</title>
    <%= csrf_meta_tags %>
    <%= display_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="<%= image_path('favicon.ico') %>" />
    <link sizes="180x180" rel="apple-touch-icon" href="<%= image_path('touch-icon.png') %>">
    <link sizes="192x192" rel="icon" href="<%= image_path('touch-icon.png') %>">
  </head>

  <body  class="<%= controller_name %> <%= action_name %>">

    <header>
      <%= render "shared/nav" %>
    </header>

    <div class="load-ajax">
      <%= image_tag 'loader.gif', class: "circle" %>
    </div>

    <main>
        <%= yield %>
    </main>

    <footer>
      <%= render "shared/footer" %>
    </footer>

    <% flash.each do |message_type, message| %>
      <% if message_type == 'alert' %>
        <%= javascript_tag "Materialize.toast('#{message}', 4000, 'red')" %>
      <% else message_type == 'notice' %>
        <%= javascript_tag "Materialize.toast('#{message}', 4000, 'green')" %>
      <% end %>
    <% end %>
  </body>
</html>





<script type="text/javascript">
  $(document).ready(function(){
    $('.parallax').parallax();
    $('select').material_select();
    $('.collapsible').collapsible();
    $('.carousel.carousel-slider').carousel({fullWidth: true});
    
  });

</script>

<script type="text/javascript">
  $(document).ready(function() {
    if(window.matchMedia( "(max-width: 420px)" ).matches){
      $('.carousel.carousel-slider').carousel().off('touchstart.carousel');
    }
  });
</script>


<script type="text/javascript">
$(document).ready(function(){
$(".go_next").keypress(function(event) {
        if(event.keyCode == 13) { 
        textboxes = $("input.go_next");
        debugger;
        currentBoxNumber = textboxes.index(this);
        if (textboxes[currentBoxNumber + 1] != null) {
            nextBox = textboxes[currentBoxNumber + 1]
            nextBox.focus();
            nextBox.select();
            event.preventDefault();
            return false 
            }
        }
    });
})
</script>


  
<script type="text/javascript">
$(function() {


  $(document).ajaxStart(function() {
    $('.load-ajax').fadeIn("slow");
  });

  $(document).ajaxStop(function() {
    $('.load-ajax').fadeOut("slow");
  });

});

$(document).ready(function(){
       $(".load-ajax").fadeOut("slow");
});
</script>